<ng-container *ngIf="!currentUser.projectAdmin.split(',').includes(projectsId.toString())">
  <textarea class="textarea-inline-control aaa"
            cdkTextareaAutosize
            [formControl]="titleControl"
            [rows]="1"
            (blur)="onBlur()"
            disabled>
  </textarea>
</ng-container>
<ng-container *ngIf="currentUser.projectAdmin.split(',').includes(projectsId.toString())">
  <textarea class="textarea-inline-control aaa"
            cdkTextareaAutosize
            [formControl]="titleControl"
            [rows]="1"
            (blur)="onBlur()">
  </textarea>
</ng-container>
