<ng-container *ngIf="!currentUser.projectAdmin.includes(projectsId)">
  <textarea class="textarea-inline-control"
            cdkTextareaAutosize
            [formControl]="titleControl"
            [rows]="1"
            (blur)="onBlur()"
            disabled>
  </textarea>
</ng-container>
<ng-container *ngIf="currentUser.projectAdmin.includes(projectsId)">
  <textarea class="textarea-inline-control"
            cdkTextareaAutosize
            [formControl]="titleControl"
            [rows]="1"
            (blur)="onBlur()">
  </textarea>
</ng-container>
