.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.ant-progress {
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
}

.ant-progress-inner {
  position: relative !important;
  display: inline-block !important;
  width: 100% !important;
  overflow: hidden !important;
  vertical-align: middle !important;
  background-color: white !important;
  border-radius: 100px !important;
  height: 26px !important;
  margin-left: 40px !important;
}

.ant-progress-bg {
  height: 25px !important;
}