<div class="flex container mt-7"
     cdkDropListGroup>
    <div class="board-dnd-list"
      board-dnd-list
      *ngFor="let status of issueStatuses"
      [status]="status"
      [currentUserId]="currentUser.id">
    </div>

    <ng-container *ngIf="checkAdmin">
      <div class="add-dnd-list">
        <ng-container *ngIf="!checkAddDndList">
          <j-button className="btn-add-task" (click)="addDndList()">
              <mat-icon>add</mat-icon>
              <span style="vertical-align: super;"> Add another List Task </span>
          </j-button>
        </ng-container>
  
        <ng-container *ngIf="checkAddDndList">
          <div class="issue">
            <mat-form-field>
              <textarea matInput rows="1" [(ngModel)]="titleListTask"></textarea>
            </mat-form-field>
          </div>
          <div style="padding-top: 5px;">
            <j-button [className]="'btn-primary'" class="mr-2" (click)="addListTask()">
              Add List Task
            </j-button>
            <mat-icon style="cursor: pointer; vertical-align: middle;" (click)="cancelAddListTask()">close</mat-icon>
          </div>
        </ng-container>
      </div>
    </ng-container>
</div>
