<div class="relative mt-3 text-15">
    <div class="pl-10">
        <div class="editing-area">
            <textarea class="textarea-inline-control textarea-border"
                      [formControl]="commentControl"
                      placeholder="Add a description"
                      [rows]="2"
                      cdkTextareaAutosize
                      (click)="setCommentEdit(true)"
                      style="color: black;">
            </textarea>
            <div *ngIf="isEditing"
                 class="flex pt-2 pb-4 items-center">
                <j-button [className]="'btn btn-primary mr-2'"
                          (click)="addComment()">
                    Save
                </j-button>
                <j-button [className]="'btn btn-empty'"
                          (click)="cancelAddComment()">
                    Cancel
                </j-button>
            </div>
        </div>
    </div>
</div>
