<div class="w-full h-full flex">
  <div class="navigation">
    <div class="flex flex-row overflow-hidden h-full">
      <aside class="navbarLeft">
        <div class="navbarLeft-content">
          <mat-icon style="color: white; margin-left: 15px; font-size: 35px; cursor: pointer;" (click)="home()">home</mat-icon>
          <div class="flex-auto"></div>
          <div class="item">
            <div nz-tooltip [nzTooltipTitle]="currentUser.name" nzTooltipPlacement="right" class="itemIcon">
              <j-avatar class="flex" [avatarUrl]="currentUser.avatarUrl" [size]="26" nz-dropdown [nzDropdownMenu]="menu" nzPlacement="topLeft">
              </j-avatar>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
  <div style="margin: 40px 0 0;">
    <div style="margin-right: 10px;">
      <span style="font-size: 24px; font-weight: bold; margin-left: 40px;">Project to participate as Admin</span>
      <div>
        <ul style="display: inline-block;">
          <li *ngFor="let projectAdmin of projectAdmins" style="display: inline-block;margin: 40px;width: 250px;height: 150px;">
            <j-button className="btn-add-taskss" (click)="projectBoard(projectAdmin.name)">
              <span style="vertical-align: middle; padding: 75px; font-size: 30px;"> {{ projectAdmin.name }} </span>
            </j-button>
          </li>
          <li style="display: inline-block;margin: 40px;width: 250px;height: 150px;">
            <j-button (click)="openCreateProjectModal()" className="btn-add-taskss">
              <mat-icon style="margin-left: 80px; font-size: 50px;">add</mat-icon>
            </j-button>
          </li>
        </ul>
      </div>
    </div>
    <div style="margin-right: 10px;">
      <span style="font-size: 24px; font-weight: bold; margin-left: 40px;">Project to participate as Client</span>
      <div>
        <ul style="display: inline-block;">
          <li *ngFor="let projectClient of projectClients" style="display: inline-block;margin: 40px;width: 250px;height: 150px;">
            <j-button className="btn-add-taskss" (click)="projectBoard(projectClient.name)">
              <span style="vertical-align: middle; padding: 75px; font-size: 30px;"> {{ projectClient.name }} </span>
            </j-button>
          </li>
          <li style="display: inline-block;margin: 40px;width: 250px;height: 150px;">
            <j-button (click)="openCreateProjectModal()" className="btn-add-taskss">
              <mat-icon style="margin-left: 80px; font-size: 50px;">add</mat-icon>
            </j-button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>
      <a [routerLink]="['/account-setting']">Profile and display</a>
    </li>
    <li nz-menu-item>Task management</li>
    <li nz-menu-item>
      <a [routerLink]="['/logout']">Log out</a>
    </li>
  </ul>
</nz-dropdown-menu>
