<div [style.width.px]="sidebarWidth"
     class="sidebar">
    <div class="sidebar-content">
        <div class="flex py-6 px-1">
            <j-avatar avatarUrl="assets/img/icons/icons-system-task-96.png"
                      [name]="'Project'"
                      [rounded]="false"
                      [size]="45">
            </j-avatar>
            <div class="pl-2">
                <div class="text-textDark text-15 font-medium">
                    {{ nameProject }}
                </div>
                <div class="text-textMedium text-13">
                    {{ projectCategory }} Project
                </div>
            </div>
        </div>

        <div *ngFor="let link of sideBarLinks; let idx = index">
            <a *ngIf="link.url"
               :is="link.to ? 'router-link' : 'div'"
               [routerLink]="link.url"
               routerLinkActive="active"
               tag="a"
               class="link allowed">

                <svg-icon class="mr-4"
                          [name]="link.icon"
                          [size]="24">
                </svg-icon>

                <div class="text-15 pt-px">{{ link.name }}</div>
            </a>
            <div *ngIf="idx === 1"
                 class="divider">
            </div>
        </div>
        <div>
            <a routerLinkActive="active"
               tag="a"
               class="link allowed"
               (click)="openCreateProjectModal()">
                <mat-icon style="margin-right: 1rem">add_task</mat-icon>
                <div class="text-15 pt-px">Create new Projets</div>
            </a>
        </div>
    </div>
</div>