<div class="status-list">
    <div class="px-3 pb-4 pt-3 uppercase text-textMedium text-13 truncate">
        <ng-container *ngIf="!checkAdmin">
            <textarea style="width: 85%; height: 25px !important;" class="textarea-inline-control aaa" cdkTextareaAutosize [(ngModel)]="statusName" [rows]="1"
                (blur)="onBlur()" disabled>
            </textarea>
        </ng-container>
        <ng-container *ngIf="checkAdmin">
            <textarea class="textarea-inline-control aaa" cdkTextareaAutosize [(ngModel)]="statusName" [rows]="1"
                (blur)="onBlur()">
            </textarea>
        </ng-container>
        <ng-container *ngIf="load">
            <span style="width: 10%; vertical-align: super; margin-left: 5px;" class="lowercase text-13">{{ issuesCount }}</span>
        </ng-container>
    </div>
    <ng-container *ngIf="checkAdmin">
        <div class="h-full pl-2"
            cdkDropList
            [cdkDropListData]="issues"
            [id]="status"
            (cdkDropListDropped)="drop($event)">
            <issue-card *ngFor="let issue of issues"
                [issue]="issue"
                cdkDrag
                [cdkDragData]="issue">
            </issue-card>

            <ng-container *ngIf="!checkAddTask">
                <j-button className="btn-add-task" (click)="addTask()">
                    <mat-icon>add</mat-icon>
                    <span style="vertical-align: super;"> Add another Task </span>
                </j-button>
            </ng-container>

            <ng-container *ngIf="checkAddTask">
                <div class="issue">
                    <mat-form-field>
                        <textarea matInput rows="1" [(ngModel)]="titleTask"></textarea>
                    </mat-form-field>
                </div>
                <div style="padding-top: 5px;">
                    <j-button [className]="'btn-primary'" class="mr-2" (click)="addTasks()">
                        Add Task
                    </j-button>
                    <mat-icon style="cursor: pointer; vertical-align: middle;" (click)="cancelAddTask()">close</mat-icon>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="!checkAdmin">
        <div class="h-full pl-2">
            <issue-card *ngFor="let issue of issues"
                [issue]="issue"
            >
            </issue-card>
        </div>
    </ng-container>
</div>
