<aside class="navbarLeft">
    <div class="navbarLeft-content">
        <mat-icon style="color: white; margin-left: 14px; margin-bottom: 15px; font-size: 35px; cursor: pointer;" (click)="home()">home</mat-icon>

        <div *ngFor="let item of items"
             class="item">
            <div (click)="item.handler()"
                 nz-tooltip
                 [nzTooltipTitle]="item.tooltip"
                 nzTooltipPlacement="right"
                 class="itemIcon">
                <i class="text-white text-xl"
                   nz-icon
                   [nzType]="item.icon"
                   nzTheme="outline"></i>
            </div>
        </div>
        <div class="flex-auto"></div>
        <div class="item">
            <ng-container *ngIf="load">
                <div nz-tooltip [nzTooltipTitle]="currentUser.name" nzTooltipPlacement="right" class="itemIcon">
                    <j-avatar class="flex" [avatarUrl]="currentUser.avatarUrl" [size]="26" nz-dropdown [nzDropdownMenu]="menu"
                        nzPlacement="topLeft">
                    </j-avatar>
                </div>
            </ng-container>
        </div>
    </div>
</aside>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
        <li nz-menu-item>
            <a [routerLink]="['/account-setting']">Profile and display</a>
        </li>
        <li nz-menu-item>Task management</li>
        <li nz-menu-item>
            <a [routerLink]="['/logout']">Log out</a>
        </li>
    </ul>
</nz-dropdown-menu>
