<aside class="navbarLeft">
    <div class="navbarLeft-content">
        <mat-icon style="color: white; margin-left: 14px; margin-bottom: 15px; font-size: 35px; cursor: pointer;" (click)="home()">home</mat-icon>

        <div *ngFor="let item of items"
             class="item">
            <div (click)="item.handler()"
                 nz-tooltip
                 [nzTooltipTitle]="item.tooltip"
                 nzTooltipPlacement="right"
                 class="itemIcon">
                <i class="text-white text-xl"
                   nz-icon
                   [nzType]="item.icon"
                   nzTheme="outline"></i>
            </div>
        </div>
        <div class="flex-auto"></div>
        <div class="item"
             *ngIf="authQuery.user$ | async as user">
            <div nz-tooltip
                 [nzTooltipTitle]="user.name"
                 nzTooltipPlacement="right"
                 class="itemIcon">
                <j-avatar class="flex"
                          [avatarUrl]="user.avatarUrl"
                          [size]="26">
                </j-avatar>
            </div>
        </div>
        <div class="item">
            <a nz-popover
               nzPopoverPlacement="rightBottom"
               [nzPopoverContent]="aboutPopoverTmpl"
               nzPopoverTrigger="click">
                <div nz-tooltip
                     nzTooltipTitle="About"
                     nzTooltipPlacement="right"
                     class="itemIcon">
                    <i class="text-white text-xl"
                       nz-icon
                       nzType="question-circle"
                       nzTheme="fill">
                    </i>
                </div>
            </a>
        </div>
    </div>
</aside>

<ng-template #aboutPopoverTmpl>
    <div class="about-popover">
        <p class="mb-2">This is a <strong>simplified</strong> Jira clone built with Angular 9, Akita and ng-zorro</p>
        <p class="mb-2">Thanks a bunch for stopping by and supporting me!</p>
        <p class="mb-3">Reach out to me via <a class="font-semibold"
               href="email:trungk18@gmail.com">trungk18@gmail.com</a></p>
        <a href="https://trungk18.com/"
           target="_blank">
            <j-button className="btn-primary">Visit My Blog</j-button>
        </a>
    </div>
</ng-template>