<div class="flex issue-job">
  <label nz-checkbox [(ngModel)]="checked" style="margin-left: 9px; line-height: 37px; cursor: pointer;"
    (change) = "checkFinish()"></label>
  <span style="margin-left: 20px; vertical-align: middle; line-height: 32px; font-size: 16px;">{{ titleJobs }}</span>
  <div class="flex-auto"></div>
  <span class="icon">
    <mat-icon style="line-height: inherit;">access_time</mat-icon>
  </span>
  <span class="icon">
    <mat-icon style="line-height: inherit;">group_add</mat-icon>
  </span>
  <span class="icon">
    <mat-icon style="line-height: inherit;">delete</mat-icon>
  </span>
</div>
