<div class="w-full h-full flex">
  <div class="navigation">
    <div class="flex flex-row overflow-hidden h-full">
      <aside class="navbarLeft">
        <div class="navbarLeft-content">
          <mat-icon style="color: white; margin-left: 15px; font-size: 35px; cursor: pointer;" (click)="home()">home
          </mat-icon>
          <div class="flex-auto"></div>
          <div class="item">
            <div nz-tooltip [nzTooltipTitle]="currentUser.name" nzTooltipPlacement="right" class="itemIcon">
              <j-avatar class="flex" [avatarUrl]="currentUser.avatarUrl" [size]="26" nz-dropdown [nzDropdownMenu]="menu"
                nzPlacement="topLeft">
              </j-avatar>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
  <div style="width: 100%;">
    <div style="height: 100px;">
      <div class="aaa">
        <div class="bbb">
          <j-avatar [avatarUrl]="currentUser.avatarUrl" [size]="60">
          </j-avatar>
          <span style="margin-left: 10px; font-size: 30px;">
            {{ currentUser.name }}
          </span>
        </div>
      </div>
    </div>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Accout setting">
        <form class="accout-setting-form" (ngSubmit)="submitForm()" [formGroup]="accountSettingForm">
          <div class="form-group">
            <label class="label">
              Email
            </label>
            <input class="form-input" formControlName="email" jAutofocus />
          </div>
          <div class="form-group">
            <label class="label" style="padding-top: 12px;">
              Nickname
            </label>
            <input class="form-input" formControlName="name" jAutofocus />
          </div>
          <div class="form-group mt-3">
            <label class="label">
              Description
            </label>
            <textarea class="form-input" formControlName="description">
            </textarea>
          </div>
          <div class="form-group">
            <label class="label">
              Avatar
            </label>
            <nz-upload class="avatar-uploader" nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" nzName="avatar"
              nzListType="picture-card" [nzShowUploadList]="false" [nzBeforeUpload]="beforeUpload"
              (nzChange)="handleChange($event)">
              <ng-container *ngIf="!avatarUrl">
                <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
                <div class="ant-upload-text">Upload</div>
              </ng-container>
              <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
            </nz-upload>
          </div>
          <div class="form-group mt-3">
            <j-button className="btn-primary mr-2" type="submit" [disabled]="accountSettingForm.invalid">
              Save
            </j-button>
            <j-button className="btn-empty" (click)="cancel()">
              Cancel
            </j-button>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Change password">
        <form class="accout-setting-form" (ngSubmit)="submitForm()" [formGroup]="changePasswordForm">
          <div class="form-group">
            <label class="label">
              Password Current
            </label>
            <input class="form-input" formControlName="passwordCurrent" jAutofocus type="password"/>
          </div>
          <div class="form-group">
            <label class="label" style="padding-top: 12px;">
              New Password
            </label>
            <input class="form-input" formControlName="newPassword" jAutofocus type="password"/>
          </div>
          <div class="form-group">
            <label class="label" style="padding-top: 12px;">
              Confirm New Password
            </label>
            <input class="form-input" formControlName="confỉmNewPassword" jAutofocus type="password"/>
          </div>
          <div class="form-group mt-3">
            <j-button className="btn-primary mr-2" type="submit" [disabled]="changePasswordForm.invalid">
              Save
            </j-button>
            <j-button className="btn-empty" (click)="cancel()">
              Cancel
            </j-button>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Task">
        <div style="margin: 40px 0 0;">
          <div *ngIf="taskIsDeadlines?.length" style="margin-right: 10px;">
            <span style="font-size: 16px; font-weight: bold; margin-left: 40px;">The task is due</span>
            <div>
              <ul style="display: inline-block;">
                <li *ngFor="let taskIsDeadline of taskIsDeadlines" style="display: inline-block;margin: 40px;width: 200px;height: 100px;">
                  <j-button className="btn-add-task">
                    <span style="vertical-align: super;padding: 75px;"> {{ taskIsDeadline.title }} </span>
                  </j-button>
                </li>
              </ul>
            </div>
          </div>
          <div *ngIf="taskIsOvers?.length" style="margin-right: 10px;">
            <span style="font-size: 16px; font-weight: bold; margin-left: 40px;">Overdue duty</span>
            <div>
              <ul style="display: inline-block;">
                <li *ngFor="let taskIsOver of taskIsOvers" style="display: inline-block;margin: 40px;width: 200px;height: 100px;">
                  <j-button className="btn-add-task">
                    <span style="vertical-align: super;padding: 75px;"> {{ taskIsOver.title }} </span>
                  </j-button>
                </li>
              </ul>
            </div>
          </div>
          <div *ngIf="taskIsComings?.length" style="margin-right: 10px;">
            <span style="font-size: 16px; font-weight: bold; margin-left: 40px;">The task is due soon</span>
            <div>
              <ul style="display: inline-block;">
                <li *ngFor="let taskIsComing of taskIsComings" style="display: inline-block;margin: 40px;width: 200px;height: 100px;">
                  <j-button className="btn-add-task">
                    <span style="vertical-align: super;padding: 75px;"> {{ taskIsComing.title }} </span>
                  </j-button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>
      <a [routerLink]="['/account-setting']">Profile and display</a>
    </li>
    <li nz-menu-item>Task management</li>
    <li nz-menu-item>
      <a [routerLink]="['/logout']">Log out</a>
    </li>
  </ul>
</nz-dropdown-menu>