@import './core/styles/custom';

#app-frame {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;

  > nz-spin {
    @apply flex flex-grow;

    > .ant-spin-container {
      @apply flex flex-grow;
    }
  }
}

app-project {
  @apply flex;
  flex-grow: 1;
  flex-direction: column;
  /* for Firefox */
  min-height: 0;
}

board-dnd {
  @apply flex flex-grow;
}

.global-spinner {
  @apply min-h-screen;
  .ant-spin {
    max-height: unset !important;
  }
}

//ng-zorro override
body,
.ant-modal {
  @apply text-textDark;
}

.ant-modal-body {
  padding: 0;
}

#content {
  flex: 1;
  min-width: 0;
  z-index: 0;
  overflow: auto;
  will-change: padding-left;
  transition: padding-left 300ms cubic-bezier(0.2, 0, 0, 1) 0s;
}
